/* refactor these */

.account-info {
    font-weight: bold;
}

.account-info + div {
    margin: 10px;
}

.btn-container {
    margin: 5px;
}

/* cell grid tempalte */

.lobby-cell {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
        "header header header"
        "window window list"
        "input input input";
}

/* header */

.lobby-cell-section:nth-child(1) {
    grid-area: header;

    height: 50px;

    justify-self: center;
}

/* content/list sub-panels */

.lobby-cell-section:nth-child(2) {
    grid-area: window;
}

.lobby-cell-section:nth-child(3) {
    grid-area: list;
}

.lobby-cell-section:nth-child(2),
.lobby-cell-section:nth-child(3) {
    height: 175px;
    text-align: center;

    display: flex;

    flex-direction: column;

    overflow-y: scroll;
}

/* content window subdivions */

.lobby-cell-subsection {              /* shared */
    text-align: left;
}

.lobby-cell-subsection:nth-child(1) { /* header */
    font-weight: bold;
}

.lobby-cell-subsection:nth-child(2) { /* content */

}

/* input section */

.lobby-cell-section:nth-child(4) {
    grid-area: input;

    height: 35px;

    justify-self: center;
}

#canvas-table {
    border: 1px solid red;
}