/* globals and variables */

:root {
    /* globals */

    box-sizing: border-box;

    /* variables */

    /* available color palettes. the last one
     * is the active palette. change the active
     * palette definitions to change the site colors.
     */

    /* elegant-sinister */

    --bg-screen:         #c5c1c0;
    --accent-dark-steel: #0a1612;
    --fg-dark-denim:     #1a2930;
    --fg-light-marigold: #f7ce3e;

    /* expertise */

    --bg-navy-blue:         #0f1626;
    --accent-tone-leather:  #ab987a;
    --accent-tone-coral:    #ff533d;
    --accent-tone-eggshell: #f5f5f5;

    /* digital modern */

    --bg-crimson-sky:          #cf6766;
    --accent-tone-indigo:      #30415d;
    --accent-tone-ultramarine: #30415d;
    --accent-tone-light-blue:  #8eaebd;

    /* all-star */

    --accent-tone-ochre:        #c06014;
    --accent-tone-pastel-peach: #edd8cd;
    --accent-tone-black:        #000000;
    --accent-tone-cool-grey:    #cdcdcd;

    /* active color palette */

    --color-scheme-bg: var(--bg-crimson-sky);
    --color-scheme-bg-secondary: var(--bg-crimson-sky);
    --color-scheme-tone-light: var(--accent-tone-ultramarine);
    --color-scheme-tone-dark: var(--accent-tone-indigo);
    --color-scheme-shade-light: var(--accent-tone-light-blue);
    --color-scheme-shade-dark: var(--accent-tone-light-blue);

    /* font colors */

    --font-light: white;
    --font-dark:  black;

    /* borders */

    --border-light: 1px solid white;
    --border-dark: 1px solid black;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;

     overflow: hidden;
}

.color-bg-primary { background: var(--color-scheme-bg); }
.color-bg-secondary { background: var(--color-scheme-bg-secondary); }
.color-tone-light { background: var(--color-scheme-tone-light); }
.color-tone-dark { background: var(--color-scheme-tone-dark); }
.color-shade-light { background: var(--color-scheme-shade-light); }
.color-shade-dark { background: var(--color-scheme-shade-dark); }

.font-light { color: var(--font-light); }
.font-dark { color: var(--font-dark); }

.border-light-thin { border: 1px solid white; }
.border-dark-thin { border: 1px solid black; }

.main-content {
    display: grid;

    grid-template-areas:
        "sidebar canvas"
        "input input";

    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr 20%;

    grid-gap: 10px; 

    height: 100vh;
    margin: 0;
}

.main-content-subsection:nth-child(1) {
    grid-area: canvas;

    display: grid;

    grid-template-areas:
        "canvas";

    grid-template-columns: auto;
    grid-template-rows: auto;

    z-index: -10;
}

.main-content-subsection:nth-child(2) {
    grid-area: input;

    background: #a4a4a4;

    width: 100%;
    z-index: 10;
}

.main-content-subsection:nth-child(3) {
    grid-area: sidebar;

    background: #e6e6e6;

    z-index: 10;
}

.canvas-layer {
    grid-area: canvas;

    width: 100%;
}

.canvas-layer:nth-child(1) { /* table */
    background: var(--accent-tone-cool-grey);

    z-index: -1;
}

.canvas-layer:nth-child(2) { /* player */
    z-index: 0;
}

.canvas-layer:nth-child(3) { /* card */
    z-index: 1;
}

.canvas-layer:nth-child(4) { /* button */
    z-index: 2;
}

.canvas-layer:nth-child(5) { /* chip */
    z-index: 3;
}

.canvas-layer:nth-child(6) { /* text */
    z-index: 4;
}

#container-canvas { }

#table-input {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;

    grid-template-areas:
      "leftpanel rightpanel rightpanel rightpanel rightpanel";
}

.input-subdivision:nth-child(1) {
    grid-area: leftpanel;
}

.input-subdivision:nth-child(2) {
    grid-area: rightpanel;

    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
}

#action-blinds:nth-child(1) {
    display: hidden;
}

.container-bet-action {
    flex: 0 1 auto;
}

.container-bet-action:nth-child(1) {
    align-self: center;
}

.container-bet-action:nth-child(1) > input {
    width: 200px;
}

.container-bet-action:nth-child(2) {
    align-self: center;
}

/* #bet-amount-text-field {
    width: 75px;
} */

.hide-button {
    display: hidden;
}

#container-output {
    overflow-y: scroll;
}

#table-log-output {
    display: flex;
    flex-direction: column;
    /* font-weight: bold; */
    color: black;
    height: 100%;
}
